<%= layout('layout/layout.ejs') %>
<link rel="stylesheet" href="/stylesheets/stars.css">
    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img src="<%= camp.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= camp.title %>
                    </h5>
                    <p class="card-text">
                        <%= camp.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= camp.location %></li>
                    <li class="list-group-item">Submitted By: <%= camp.author.username %></li>
                    <li class="list-group-item">₹ <%= camp.price %>/Night</li>
                </ul>
                <% if (currentUser && camp.author._id.equals(currentUser._id)) { %>
                    <div class="card-body">
                        <a href="/campgrounds/<%=camp.id%>/edit" class="card-link btn btn-info">Edit</a>
                        <form action="/campgrounds/<%=camp.id%>/?_method=DELETE" method="POST" class="d-inline">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                <% } %>
            </div>
            
        </div>
        <div class="col-4 offset-1">
            <% if (currentUser) { %>
                <h3>Leave A Review: </h3>
                <form action="/campgrounds/<%= camp.id %>/reviews" method="POST" class="mb-4 needs-validation" novalidate>
                    <div class="mb-3">
                        <fieldset class="starability-basic">
                            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="5" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="rating" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="rating" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="rating" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="rating" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="rating" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                          </fieldset>
                    </div>
                    <div class="mb-3">
                        <label for="reviewBody" class="form-label"><h6>Reviews: </h6></label>
                        <textarea name="content" id="reviewBody" cols="30" rows="3" class="form-control" required></textarea>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
            <% } %>
            
            <h2>Reviews: </h2>
            <% for(let review of camp.reviews) { %>
                <div class="review-piece card mb-2">
                    <div class="card-body">
                        <h6 class="card-title"><%= review.author.username %></h6>
                        <p class="starability-result" data-rating="<%= review.rating %>">
                          Rated: <%= review.rating %>  stars
                        </p>
                        <p class="card-text"><%= review.content %></p>
                        <% if (currentUser && review.author._id.equals(currentUser._id)) { %>
                            <form action="/campgrounds/<%=camp.id%>/reviews/<%= review.id %>?_method=DELETE" method="POST" class="d-inline">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        <% } %>
                        
                    </div>
                    
                </div>
            <% } %>
        </div>
    </div>