<%= layout('layout/layout.ejs') %>
<div id="cluster-map"></div>
<h1>All Campgrounds</h1>

<div class="mb-3">
    <% for( let camp of allCamps) { %>
        <div class="card mb-2 border border-3 rounded-3">
            <div class="row ">
                <div class="col-md-4">
                    <% if (camp.images.length) { %>
                        <img src="<%= camp.images[0].url %>" alt="" class="img img-fluid rounded-3"></div>
                    <% } else { %>
                        <img src="https://miro.medium.com/max/800/1*hFwwQAW45673VGKrMPE2qQ.png" alt="" class="img img-fluid rounded-3"></div>
                    <% } %>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="/campgrounds/<%= camp.id %>" style="text-decoration: none; color: black" ;>
                                <h5 class="card-title"><%= camp.title %>
                                </h5>
                            </a>
                            <p class="card-text"><%= camp.description %>
                            </p>
                            <small class="text-muted"><%= camp.location %>
                            </small>
                            <br>
                            <small class="text-muted">By: <%= camp.author.username %>
                            </small>
                            <br>
                            <small class="text-muted">₹ <%= camp.price %>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
</div>

<script>
    const mapBoxToken = `<%-process.env.MAPBOX_TOKEN%>`;
    const allCamps = {features: <%-JSON.stringify(allCamps)%>};
</script>
<script src="/javascripts/clusterMap.js"></script>